#image{
    z-index: -1;
    width: 100%;
    height: 700px;
    margin-top: 80px;
    padding:10px;
    
}


#login{
    margin-top: -760px;
    margin-left: 1400px;

}
#logins{
padding: 8px 16px;
    font-family: 300;
    font-size: 14px;
    border: 1px slid#999;
    border-radius: 999px;
    background-color: transparent;
    cursor: pointer;
}
#logins:active{
       background-color:deepskyblue ;
    border: 0cap;

}
#sign-up{
    margin-top: -35px;
    margin-left: 1500px;
}
#signs-up{
    padding: 8px 16px;
    font-family: 300;
    font-size: 14px;
    border: 1px slid#999;
    border-radius: 999px;
    background-color: transparent;
    cursor: pointer;

}
#signs-up:active{
    background-color:deepskyblue ;
    border: 0cap;

}

#reservations{
   margin-left: 370px; 
   margin-top: -20px;
   width: 135px;
   font-size: larger;
   font-style:normal;
   font-weight: 500;

}

#vehicles{
    margin-left: 570px;
    position: relative;
    bottom: 20px;
    font-size: larger;
   font-style:normal;
   font-weight: 530;
   
}

#contact{
    margin-left: 100px;
    position: relative;
    bottom: 20px;
    font-size:larger;
   font-style:normal;
   font-weight: 500;

    
}
#reservations:hover{
    font-size: large;
    font-family :Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#vehicles:hover{
    font-size: large;
    font-family :Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#contact:hover{
      font-size: large;
    font-family :Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}





.myVehicle{
    position: relative;
    top:280px;
    right: 70px;

    width: 50%;
    margin: 90px auto;
    height: 80px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    color: #000000;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}
 input{
    margin-top: 30px;
    width: 200px;
    height: 30px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 16px;
    
   
    /* margin-left: 60px; */
} 
#label{
    margin-left: 20px;
    color: #222121;
}

#vehicle{
   background-color: #007bff;
   color: #ffffff;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
    margin-left: 30px;
}
#vehicle:hover{
    background-color: #0056b3;
}


