
                 <!-- <h1>Cancel</h1> -->


 <div class="box">


      <div class="booking-details">
        <h2>finding-bookings</h2>
        <p>
        <input class="input" [(ngModel)]="license" type="text" placeholder="Enter drivers-licence" />
        </p>
        <p> 
         <button   class=dropdown-button  (click)="findBookingByDriversLicence()">find Booking</button>
         </p>
         <div >
            
                

     <form class="placeholder" (ngSubmit)="deleteBooking()">

 
    <p>
     <input type="text"  name ="name"  [placeholder]="getBooking.carName"  required [(ngModel)]="name" />
     </p> 
     <p>
     <input type="text"  name ="surname" [placeholder]="getBooking.surname"  required  [(ngModel)]="surname" />
     </p>
     <p>
     <input type="text"  name ="email"  [placeholder]="getBooking.email"  required [(ngModel)]="emal" />
     </p>
     <p>
     <input type="txt"  name ="startData" [placeholder]="getBooking.pickUpDate" required  [(ngModel)]="pick_up_date" />
     </p>
     <p>
     <input type="txt"  name ="end-date" [placeholder]="getBooking.dropOfDate" required [(ngModel)]="drop_of_date"  />
     </p>

     <!-- <input type="txt"  name ="booking-payment" [placeholder]="getBooking." required [(ngModel)]="payment" /> -->

     

    









  <form > 


    <!-- <input type="text" name ="name" placeholder="driversLicence"  [(ngModel)]="license" />  -->
    <button   class=dropdown-button (click)="deleteBooking()" >cancel-bookings</button>

 </form>


 

    
