
                 <h1>Cancel</h1>


 <div>


      <div class="booking-details">
        <h2>finding-bookings</h2>

        <input class="input" [(ngModel)]="license" type="text" placeholder="Enter drivers-licence" /> 
         <button class="button" (click)="findBookingByDriversLicence()">find Booking</button>
         <div >
            
                

         <form class="placeholder" (ngSubmit)="deleteBooking()">


     <input type="text"  name ="name"  [placeholder]="getBooking.carName"  required [(ngModel)]="name" /> 

     <input type="text"  name ="surname" [placeholder]="getBooking.surname"  required  [(ngModel)]="surname" />

     <input type="text"  name ="email"  [placeholder]="getBooking.email"  required [(ngModel)]="emal" />

     <input type="txt"  name ="startData" [placeholder]="getBooking.pickUpDate" required  [(ngModel)]="pick_up_date" />

     <input type="txt"  name ="end-date" [placeholder]="getBooking.dropOfDate" required [(ngModel)]="drop_of_date"  />

     <!-- <input type="txt"  name ="booking-payment" [placeholder]="getBooking." required [(ngModel)]="payment" /> -->

    









  <form > 


    <!-- <input type="text" name ="name" placeholder="driversLicence"  [(ngModel)]="license" />  -->
    <button class="button2" (click)="deleteBooking()" >cancel-bookings</button>

 </form>


 

    
