
      <div class="box"> 


      <div class="booking-details" >
        
        <h2>finding-booking</h2>

        <p>
        <input class="input" [(ngModel)]="license" type="text" placeholder="Enter booking-code" />

        </p>
       
        <p> 
         <button   class=dropdown-button  (click)="findBookingByDriversLicence()">Find Booking</button>
         @if(messages == undefined){
          <h3>Invalid booking code</h3>

         }
         </p>

       
      <div >
            
      @if(messages){          

     <form class="placeholder" (ngSubmit)="returnCar()"#f="ngForm">
     <p>
      <label>Name</label>
     <input type="text"  name ="name"  [placeholder]="getBooking.name"   [(ngModel)]="name" />
     </p>

     <p>
      <label>Surname</label>
     <input type="text"  name ="surname" [placeholder]="getBooking.surname"    [(ngModel)]="surname" />
     </p>

     <p>
      <label>Email</label>
     <input type="text"  name ="email"  [placeholder]="getBooking.email"   [(ngModel)]="email" />
     </p>

     <p>
      <label>License</label>
     <input type="text"  name ="email"  [placeholder]="getBooking.license"   [(ngModel)]="license" />
     </p>
 
     <p>
      <label>Car-Name</label>
     <input type="text"  name ="name"  [placeholder]="getBooking.carName"   [(ngModel)]="carName" />
     </p>
     
     
<p>
     <label>Delayed</label>
      <select id="car-name"  value="Delayed ?" name="Delayed?" [(ngModel)]="time">
             
                    <option >No</option>
                    <option >Yes</option>
                
            </select><br />
</p>
     @if(time === "Yes"){
      <p>
      <label>Delayed Fee</label>
      <input type="number"  name ="delayedFee"  required [(ngModel)]="delayedFee"  />
      </p>
     }
     

<p>
      <label>In Good Condition</label>
     <select id="car-name"  value="Condition ?" name="In Good condition ?" [(ngModel)]="condition">
             
                    <option >No</option>
                    <option >Yes</option>
                
            </select><br />
</p>

     @if( condition === "No"){
      <p>
       <label>Damaged Fee</label>
      <input type="number"  name ="damagedFee" required [(ngModel)]="damagedFee" />
     
      </p>
     }
     
     



     
     <p>
      <label>Pick-Up-Date</label>
     <input type="txt"  name ="startData" [placeholder]="getBooking.pickUpDate"   [(ngModel)]="pick_up_date" />
     </p>

     
     <p>
     <label>Drop-Of-Date</label> 
     <input type="txt"  name ="end-date" [placeholder]="getBooking.dropOfDate"  [(ngModel)]="drop_of_date"  />
     </p>

     

    <button class="dropdown-button"[disabled]="!f.valid" data="disabled" >Return-Car</button>

    

    <h3>{{message}}</h3>

     </form>
      }
      </div>

 


      

     

    









  



   

 

    
