<p>return-car-component works!</p>
<div>


      <div class="booking-details">
        <h2>finding-bookings</h2>

        <input class="input" [(ngModel)]="license" type="text" placeholder="Enter drivers-licence" /> 
         <button class="button" (click)="findBookingByDriversLicence()">find Booking</button>
         <div >
            
                

         <form class="placeholder" (ngSubmit)="returnCar()">
      <input type="text"  name ="name"  [placeholder]="getBooking.name"  required [(ngModel)]="name" /> 

     <input type="text"  name ="surname" [placeholder]="getBooking.condition"  required  [(ngModel)]="condition" />

     <input type="text"  name ="name"  [placeholder]="getBooking.returned"  required [(ngModel)]="returning" /> 

     <input type="text"  name ="surname" [placeholder]="getBooking.time"  required  [(ngModel)]="time" />

     <input type="text"  name ="name"  [placeholder]="getBooking.carName"  required [(ngModel)]="carName" /> 

     <input type="text"  name ="surname" [placeholder]="getBooking.surname"  required  [(ngModel)]="surname" />

     <input type="text"  name ="email"  [placeholder]="getBooking.email"  required [(ngModel)]="emal" />

     <input type="txt"  name ="startData" [placeholder]="getBooking.pickUpDate" required  [(ngModel)]="pick_up_date" />

     <input type="txt"  name ="end-date" [placeholder]="getBooking.dropOfDate" required [(ngModel)]="drop_of_date"  />

      <input type="txt"  name ="damagedFee" [placeholder]="getBooking.pickUpDate" required  [(ngModel)]="damagedFee" />

     <input type="txt"  name ="delayedFee" [placeholder]="getBooking.dropOfDate" required [(ngModel)]="delayedFee"  />

     <!-- <input type="txt"  name ="booking-payment" [placeholder]="getBooking." required [(ngModel)]="payment" /> -->

    









  


    <!-- <input type="text" name ="name" placeholder="driversLicence"  [(ngModel)]="license" />  -->
    <button class="button2" >Return_Car</button>

 </form>


 

    
