

<div>
<h1 id="logo">Car rental service</h1>
<button id="reservations" (click)="onClicks()">Reservations</button>

<button id="return" (click)="return()">Return car</button>

<button id="returns" (click)="viewbookings()">View Bookings</button>

<button id="booking" (click)="onClick()" >View Incoming Bookings {{notifications}}</button>
 
<button id="returning"(click)="viewComplaints()" >View Complaints {{complaintsNotification}}</button>

<button id="logOut" (click)="logOut()">Log out</button>
</div>


@if(click){
    <h1 id="header">Incoming Bookings</h1>
   <router-outlet ></router-outlet>
   
} 

@if(clicks){
    
 <router-outlet></router-outlet>  
} 

@if(clicking){
  <h1 id="header">Complaints</h1>  
 <router-outlet></router-outlet>  
} 

@if(clicked){
<h1 id="header">Bookings</h1>
<router-outlet></router-outlet>
}

@if(clickedOn){

<router-outlet></router-outlet>
}


