<p>account-component works!</p>


 <!-- <form (ngSubmit)="submitBooking()">
        <h2>Booking a Car</h2> -->
     <!-- <input type="text"  name ="name"  placeholder="Client-name"  required [(ngModel)]="clientName" />

     <input type="text"  name ="surname"  placeholder="surname"  required  [(ngModel)]="surname" />

     <input type="text"  name ="car-name"  placeholder="car-name"  required [(ngModel)]="carName" />

     <input type="email"  name ="email" placeholder="Email" required  [(ngModel)]=" emal" />

     <input type="drivers-licence"  name ="drivers-licence" placeholder="Drivers-licence" required [(ngModel)]="driversLicence"  />

     <input type="number"  name ="booking-payment" placeholder="Booking-payment" required [(ngModel)]="bookingPayment" />

    <input type="date"  name ="startDate" placeholder="strat-date" required   [(ngModel)]="startDate" />

    <input type="date"  name ="endDate" placeholder="end-date" required  [(ngModel)]="endDate"/>

    
        <button class ="dropdown-button" type="submit">Book</button> -->

     
     

     

    <!-- </form> -->
