
                                                 
                                          

<div class="rebon">
<h1 id="logo">Car rental service</h1>  

 <button  id="addCar"(click)="addCar()">AddCar</button>
                                                                       
<button  id="vehicles"(click)="vehicles()">Vehicles</button>
                                            
 <button id="remove" (click)="remove()">Remove Car</button>

<button id="update" (click)="update()">Update car</button>

<button id="viewBookings" (click)="viewBookings()">View Bookings</button>

<button id="logOut" (click)="logOut()">Log out</button>
</div>





                                            
<router-outlet></router-outlet>




                                 


                                  