
                                                 
                                          



                                     <button  id="addCar"(click)="addCar()">AddCar</button>
                                   

                                          
                                            <button  id="vehicles"(click)="vehicles()">Vehicles</button>
                                            

                                            <button id="remove" (click)="remove()">Remove Car</button>
                                            <button (click)="update()">Update car</button>

                                            <button (click)="viewBookings()">View Bookings</button>

                                            <div id="logOut"(click)="logOut()"><button>Log out</button></div>
                                            
<router-outlet></router-outlet>




                                 


                                  