#addCar{
    
 transform: translate(552px); 
    border: none;
    padding: 0;
    background:none;
    color:white;
    text-decoration:underline;



    
}



#vehicles{
     transform: translate(600px); 
    border: none;
    padding: 0;
    background:none;
    color:white;
    text-decoration:underline;




    
}

#remove{
     transform: translate(660px); 
    border: none;
    padding: 0;
    background:none;
    color:white;
    text-decoration:underline;
}

#update{
transform: translate(730px); 
     border: none;
    padding: 0;
    background:none;
    color:white;
    text-decoration:underline;


}

#viewBookings{
transform: translate(785px); 
    border: none;
    padding: 0;
    background:none;
    color:white;
    text-decoration:underline;

    
}

.rebon{
  background-color:  #007bff;
  height: 75px;
}
#logOut{
    
    
    transform: translate(1250px); 
    border: none;
    padding: 0;
    background:none;
    color:white;
    
    
}
#logOut.active{
    text-decoration: underline;
 }

#logo{
    

transform: translate(20px,30px);
 color:white;
font-size: 20px; 
left: 10px; 

}




