#addCar{
    transform: translate(350px,30px);
    
    border: none;
    padding: 0;
    background:none;
    color:white;
    color: white;
    font-size: large; 
    
}



#vehicles{
    
    transform: translate(400px,30px);
    color: white;
    font-size: large;
    border: none;
    padding: 0;
    background:none;
    color:white;


    
}

#remove{
    transform: translate(500px,30px);
     
   border: none; 
    padding: 0;
    background:none;
    color:white;
    color: white;
    font-size: large;
}

#update{
    transform: translate(600px,30px);
     
     border: none;
    padding: 0;
    background:none;
    color:white;
    color: white;
    font-size: large;

}

#viewBookings{
    transform: translate(700px,30px);
    
     border: none;
    padding: 0;
    background:none;
    color:white;
    
    font-size: large;

}

.rebon{
  background-color: #007bff;
  height: 75px;
}
#logOut{
    
    transform: translate(1100px,30px);
    border: none;
    padding: 0;
    background:none;
    color:white;
    font-size: large;
    
    
}

#logOut :hover{
    
    background-image: -moz-linear-gradient(to right ,rgb(184, 184, 184), #143b8e);

}




