
                                                 
                                          
<div class="over">
<div class="rebon">
 <label  id="addCar"(click)="addCar()">AddCar</label>
                                                                       
<label  id="vehicles"(click)="vehicles()">Vehicles</label>
                                            
 <label id="remove" (click)="remove()">Remove Car</label>

<label id="update" (click)="update()">Update car</label>

<label id="viewBookings" (click)="viewBookings()">View Bookings</label>

<div id="logOut"(click)="logOut()"><button>Log out</button></div>
</div>
</div>




                                            
<router-outlet></router-outlet>




                                 


                                  