
 <div class="find"> 
<form (ngSubmit)="getCar()">
  
     <p>
    <input name="name"placeholder="Enter car-name"  type="text"  [(ngModel)]="name"/></p>
    <button class="button">SearchCar</button>

       
     </form > 
     </div >
    
   

     <!-- @for(names of bookings; track name){
    @if (!names.includes(name)) {
      <h4>Invalid name</h4>  -->

     <div class="update">
    <p>
   <input type="text" placeholder="car-name"  name ="name" [(ngModel)]="name"/></p>

   <p>
    <input type="text" placeholder="car-picture"  name="picture" [(ngModel)]="picture"/></p>

    <p>
    <input  type="text"   placeholder="status" name="status" [(ngModel)]="status"/></p>

   
    <p>
    <input   type="text"  placeholder="seaters" name="seaters" [(ngModel)]="seater"/></p>

    <p>
    <input   type="number"  placeholder="price" name="price" [(ngModel)]="price"/></p>
     

      <button id="button1" (click)="updateCar()">Update</button> 
      </div>

      
              
   <!-- </form> 
    </div>  --> 



  


    <!-- }
   } -->



    
  

<div class="box2">
 <img [src]="printCar.picture" >
  <h1>{{printCar.name}}</h1>
 <h4>Status: {{printCar.status}}</h4>
  <h4>Seater: {{printCar.seater}}</h4>
 <h4>Price: R{{printCar.price}}</h4>
</div>

 






   
<h1>{{carMessages}}</h1>