 
 <div class="find"> 
 
<form (ngSubmit)="getCar()" #f="ngForm">
  
     <p>
    <input name="name"placeholder="Enter car-name"  type="text" required [(ngModel)]="name"/></p>  
@if( car == undefined){
    <h4>Car not found</h4>
 }
    <button [disabled]="!f.valid" data="disabled" class="button">SearchCar</button>
     
      
       
     </form > 
  
     </div >
    
  

     @if(printCar.name){

     <div class="update">
    <p>
   <input type="text" placeholder="car-name"  name ="name" [(ngModel)]="name"/></p>

   <p>
    <input type="text" placeholder="car-picture"  name="picture" [(ngModel)]="picture"/></p>

    <p>
    <input  type="text"   placeholder="status" name="status" [(ngModel)]="status"/></p>

   
    <p>
    <input   type="text"  placeholder="seaters" name="seaters" [(ngModel)]="seater"/></p>

    <p>
    <input   type="number"  placeholder="price" name="price" [(ngModel)]="price"/></p>
     

      <button id="button1" (click)="updateCar()">Update</button> 
      </div>

      
            

<div class="box2">
 <img [src]="printCar.picture" >
  <h1>{{printCar.name}}</h1>
 <h4>Status: {{printCar.status}}</h4>
  <h4>Seater: {{printCar.seater}}</h4>
 <h4>Price: R{{printCar.price}}</h4>
</div>

 

     }
   
<h3>{{carMessages}}</h3>