
<div class="container">
<button id="button" (click)="back()">Back</button>
</div>
<div class="text">
  <h1>Car Rental Frequently Asked Questions</h1>
</div>

<div  class="container2">
  <p>
<details>
  <summary>Why do I have to pay cancellation fee?</summary>
  <h3>Why do I have to pay cancellation fee?</h3>
  <p>when you cancel a reservation ,the car rental loses the opportunity to rent the vehicle to another 
    Customer,resulting in lost revenue
  </p>
  <ul>
    <li>Read the terms and conditions</li>
    <li>Book refundable rates</li>
  </ul>
  </details>
  </p>
  <p>
  <details>
  <summary>Why do I have to pay delayed fee?</summary>
  <h3>Why do I have to pay delayed fee?</h3>
  <p>Late returns can disrupt the car rental company's scheduling and logistics,making it challenging to manage
    their fleet and meet the demands of other customer
  </p>
  <ul>
    <li>valid ........</li>
    <li>.........</li>
  </ul>
  </details>
  </p>

  <p>
  <details>
  <summary>Why do I have to pay car damaged fee?</summary>
  <h3>Why do I have to pay cancellation fee?</h3>
  <p>hey................</p>
  <ul>
    <li>valid drivers licence</li>
  </ul>
  </details>
  </p>

  <p>
  <details>
  <summary>Why do I have to pay cancellation fee?</summary>
  <h3>Why do I have to pay cancellation fee?</h3>
  <p>hey................</p>
  <ul>
    <li>valid drivers licence</li>
  </ul>
  </details>
  </p>

  <p>
  <details>
  <summary>Why do I have to pay cancellation fee?</summary>
  <h3>Why do I have to pay cancellation fee?</h3>
  <p>hey................</p>
  <ul>
    <li>valid drivers licence</li>
  </ul>
  </details>
  </p>

  <p>
  <details>
  <summary>Why do I have to pay cancellation fee?</summary>
  <h3>Why do I have to pay cancellation fee?</h3>
  <p>hey................</p>
  <ul>
    <li>valid drivers licence</li>
  </ul>
  </details>
  </p>
 

 



</div> 
