<p>questions-component works!</p>
<button (click)="back()">Back</button>
<div>
<select >
  <option disabled selected hidden  value="" id="o">Why do I have to pay cancellation fee?</option>
  
  <option>Hy </option>
</select>
<select >
  <option disabled selected hidden  value="" id="o">Why do I have to pay cancellation fee?</option>
  
  <option>Hy </option>
  
</select>
<select >
  <option disabled selected hidden  value="" id="o">Why do I have to pay cancellation fee?</option>
  
  <option>Hy </option>
  
</select>


<select >
  <option disabled selected hidden  value="" id="o">Why do I have to pay cancellation fee?</option>
  
  <option>Hy </option>
  
</select>
<select >
  <option disabled selected hidden  value="" id="o">Why do I have to pay cancellation fee?</option>
  
  <option>Hy </option>
  
</select>
</div>