select{
    width: 1050px;
    height: 80px;
    font-size: 58px;
    padding: 10px;
}
div{
    background-color: beige;
    width: 1100px;
    height: 800px;
    margin-left: 400px;
    margin-top: 300px;
}
#o{
    font-size: 6px;
}