
<div class="box"> 


      
                  
 
     <form class="placeholder" (ngSubmit)="deleteBooking()" #f="ngForm">
     <p>
      <label>Name</label>
     <input type="text"  name ="name"  [placeholder]="bookings.name"  />
     </p>

     <p>
      <label>Surname</label>
     <input type="text"  name ="surname" [placeholder]="bookings.surname"   />
     </p>

     <p>
      <label>Email</label>
     <input type="text"  name ="email"  [placeholder]="bookings.email"   />
     </p>

     <p>
      <label>License</label>
     <input type="text"  name ="email"  [placeholder]="bookings.license"  />
 

     </p>

     
 
     <p>
      <label>Car_Name</label>
     <input type="text"  name ="name"  [placeholder]="bookings.carName"   />
     </p> 
     
     
     <p>
      <label>Pick_Up_Date</label>
     <input type="txt"  name ="startData" [placeholder]="bookings.pickUpDate" required   />
     </p>

     
     <p>
     <label>Drop_Of_Date</label> 
     <input type="txt"  name ="end-date" [placeholder]="bookings.dropOfDate" required  />
     </p>

     <p>
     <label>Cancellation_Fee_of_R300</label> 
     <input type="txt"  name ="end-date"  required [(ngModel)]="cancellationFee"  />
     </p>
     @if(cancellationFee     && cancellationFee < '300'){
          <h4>Amount entered is less 300.</h4>

     }

    
    <button   [disabled]="!f.valid" data="disabled" class=dropdown-button >cancel-booking</button>

     <h4>{{cancelMessage}}</h4> 

     </form>


      </div>

 