#remove{
    transform: translate(800px,50px);
    width: 200px;
    margin-top: 3px;
    border-radius: 10px;
    cursor: pointer;
}
#remove:hover {
    
    color: aliceblue;
    background-color: #007bff
}
#bookings{
    width: 500px;
    margin-top: 3px;
    border-radius: 10px;
    cursor: pointer;
    
}

#bookings:hover {
    
    color: aliceblue;
    background-color: #007bff
}


#box {
    margin-top: 20px;
}