#remove{
    transform: translate(800px,-100px);
    width: 200px;
    margin-top: 3px;
    border-radius: 10px;
    cursor: pointer;
}
#remove:hover {
    background-color: #0C0950;
    color: aliceblue;
}
#bookings{
    width: 500px;
    margin-top: 3px;
    border-radius: 10px;
    cursor: pointer;
}

#bookings:hover {
    background-color: #0C0950;
    color: aliceblue;
}


#box {
    margin-top: 20px;
}