#booking{
    width: 500px;
    margin-top: 3px;
    border-radius: 10px;
    cursor: pointer;
}

#booking:hover {

    color: aliceblue;
    background-color: #007bff
}



#box {
    margin-top: 20px;
}

#remove{
    transform: translate(800px,10px);
    width: 200px;
    margin-top: 3px;
    border-radius: 10px;
    cursor: pointer;
}
#remove:hover {
    background-color: #0C0950;
    color: aliceblue;
}