
<div class="removeCar">
<form (ngSubmit)="getCar()">
    
     <p>
    <input name="name" placeholder="Enter car-name" type="text"  [(ngModel)]="name"/></p>
    <button   id="button">SearchCar</button>
   
     <!-- @for(names of bookings; track name){ -->
    @if (!names.includes(name)) {
       <h4>Invalid name</h4>
    
    
    }
   <!-- } -->

</form>
</div>


@if(clicks){
 <img [src]="printCar.picture" >
     <h1>{{printCar.name}}</h1>
    <h4>Status: {{printCar.status}}</h4>
     <h4>Seater: {{printCar.seater}}</h4>
    <h4>Price: R{{printCar.price}}</h4>
     <button id="button1" (click)="removeCar()">Remove</button>

}
<h1>{{carMessages}}</h1>
