
<div class="removeCar">
<form (ngSubmit)="getCar()" #f="ngForm">
    
     <p>
    <input  type="text"   placeholder="Enter car-name" name="name" required [(ngModel)]="name" />
 </p>
 @if( car == undefined){
    <h4>Car not found</h4>
 }

    <button [disabled]="!f.valid" data="disabled" id="button">SearchCar</button>
   
    

</form>
</div>


@if(printCar.name){
   <div id="div1">
   <img [src]="printCar.picture" >
     <h1>{{printCar.name}}</h1>
    <h4>Status: {{printCar.status}}</h4>
     <h4>Seater: {{printCar.seater}}</h4>
    <h4>Price: R{{printCar.price}}</h4>
     <button id="button1" (click)="removeCar()">Remove</button>
</div>
}



<h3>{{carMessages}}</h3>
