#login{
    margin-left: 1400px;
   transform: translate(50px,-270px);
    background-color: #007bff;
    height:192px;
    width:220px;
    padding: 3px;
   
}
#form{
    background-color: white;
    padding: 20px;

}  


 #button:active{
    background-color: deepskyblue;
    border: 0cap;
}
#button{

    margin-left: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: azure;
    border-radius: 5px;
} 

 #name{
    margin-top: 7px;
}
#forgotpassword:active{
background-color: deepskyblue;
    border: 0cap;
}
#manager{
    position: relative;
    bottom:50px;
} 
