



<div  class="allOver">
<div class="box">
        <h2>finding-bookings</h2>
        <p>
        <input class="input" [(ngModel)]="license" type="text" placeholder="Enter drivers-licence" />
        </p>
        <p> 
         <button   class=dropdown-button  (click)="findBookingByDriversLicence()">find Booking</button>
         </p>
         <div >

             <form class="placeholder" (ngSubmit)="submitBooking()">

    
 
    <p>
     <input type="text"  name ="name"  [placeholder]="getBooking.name"  required [(ngModel)]="name" />
     </p> 
     <p>
     <input type="text"  name ="surname" [placeholder]="getBooking.surname"  required  [(ngModel)]="surname" />
     </p>
     <p>
     <input type="text"  name ="email"  [placeholder]="getBooking.email"  required [(ngModel)]="emal" />
     </p>

      <p>
        <input type="text"  name ="carName"  [placeholder]="getBooking.carName"  required [(ngModel)]="carName" />
     </p>           
     <p>
     <input type="txt"  name ="startData" [placeholder]="getBooking.pickUpDate" required  [(ngModel)]="pickUpDate" />
     </p>
     <p>
     <input type="txt"  name ="end-date" [placeholder]="getBooking.dropOfDate" required [(ngModel)]="dropOfDate"  />
     </p>







<div class="box1" >
    <form   (ngSubmit)="submitBooking()">
       
        <h2>update-bookings</h2> 
     <p>
        <input type="text"  name ="name"  placeholder="Client-name"  required [(ngModel)]="name" />
     </p>
     <p>
         <input type="text"  name ="surname"  placeholder="surname"  required  [(ngModel)]="surname" />
     </p>

    <p>
         <input type="text"  name ="car-name"  placeholder="car-name"  required [(ngModel)]="carName" />
     </p>

     <P>
         <input type="email"  name ="email" placeholder="Email" required  [(ngModel)]=" emal" />
     </P>

     <p>

     <input type="drivers-licence"  name ="drivers-licence" placeholder="Drivers-licence" required [(ngModel)]="license"  />
     </p>

    
      <p>

    <input type="date"  name ="startDate" placeholder="pickUpDate" required   [(ngModel)]="pickUpDate" />
    </p>
    <p>

    <input type="date"  name ="endDate" placeholder="end-date" required  [(ngModel)]="dropOfDate"/>
    </p>

    <div>
        <button   class ="dropdown-button" type="submit">save</button> 
    </div>
    
        

</form>
    
</div>

